<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div th:fragment="footer">


    <div style="background-color:#c2c2c2; padding: 1%" align="center">

        <div>


            <a href="https://www.facebook.com/editora.ufmg"  style="text-decoration:none">
                <img src="../../imagens/facebook_icon.png" width="61" height="61"  alt="facebook"
                     th:src="|cid:${facebook_icon}|"/>
            </a>
            <a href="https://twitter.com/editoraufmg" style="text-decoration:none">
                <img src="../../imagens/twitter_icon.png" width="61" height="61"  alt="twitter"
                     th:src="|cid:${twitter_icon}|"/>
            </a>
            <a href="https://www.instagram.com/editoraufmg/" style="text-decoration:none">
                <img src="../../imagens/instagram_icon.png" width="61" height="61"  alt="instagram"
                     th:src="|cid:${instagram_icon}|"/>
            </a>


        </div>

        <div style="margin-top: 1%">
            <h6 style="font-family: sans-serif; color: white"> EDITORA UFMG </h6>

        </div>
    </div>



</div>
</body>
</html>